{{outlet}}
<div class="container main">
<div class="row">
  <div class="col-lg-6 title">
  <h1>Themes</h1>
  </div>
</div>
<div class="row">
{{#each model as |theme|}}
  <div class="col-lg-4">
    <div class="box">
  <h2>{{#link-to 'theme' theme}}{{theme.title}}{{/link-to}}</h2>
  </div>
  </div>
  {{else}}
  <div class="col-lg-12">
    <p>Sorry, nothing here...</p>
  </div>
{{/each}}
</div>
</div>